* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --Main-color: purple;
    --Secondary-color: rgb(197, 0, 197);
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 10px 100px;
    border-bottom: 2px;
    border-color: gray;
    border-bottom-style: solid;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container {
   
    display: flex;
    margin: 100px;
    padding: 50px;
    flex-direction: column;
    align-items: center;
}

.main-container p {
    text-align: center;
    padding: 10px 400px;
    font-size: 22px;
}

.btn {
    background: var(--Main-color);
    color: antiquewhite;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.btn:hover {
    background-color: var(--Secondary-color);
}

.hidden {
    display: none;
}